[submodule "src/cutf"]
	path = src/cutf
	url = https://gitlab.momo86.net/mutsuki/cutf
[submodule "src/gemm_core"]
	path = src/gemm_core
	url = https://gitlab.momo86.net/mutsuki/gemm_core.git
[submodule "src/runtime-status"]
	path = src/runtime-status
	url = https://gitlab.momo86.net/mutsuki/runtime-status
[submodule "src/wmma_extension"]
	path = src/wmma_extension
	url = https://github.com/enp1s0/wmma_extension
